<div class="ui fluid container custom-footer">
  <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
          <div class="three wide column">
              <h4 class="ui inverted header">Contact</h4>
              <div class="ui inverted link list">
                  <a href="#" class="item">Contact Admin</a>
                  <a href="#" class="item">Contact Developers</a>
              </div>
          </div>
          <div class="three wide column">
              <h4 class="ui inverted header">Developers</h4>
              <div class="ui inverted link list">
                  <a href="#" class="item">Suggest something.</a>
                  <a href="#" class="item">Report bugs</a>
              </div>
          </div>
          <div class="three wide column">
              <h4 class="ui inverted header">Comapany</h4>
              <div class="ui inverted link list">
                  <a href="#" class="item">How It Works!</a>
                  <a href="#" class="item">About US</a>
              </div>
          </div>
          <div class="seven wide column">
              <h4 class="ui inverted header">Placementcell.com</h4>
              <p>Hiring platform for freshers</p>
          </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p>All Rights Reserved &copy; 2016
        <strong><a href="#">Placementcell Inc.</a></strong> | Made with <i class="icon small inverted heart"></i> in Banglore.
      </p>
  </div>
</div>
